/*
#EFED6A
#B2EDE4
#FFFAF4
#E85833
#5E80E6
*/

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    list-style: none;
    border: none;
    text-decoration: none;
    font-weight: normal;
}

html, body {
    height: 100%;
	font: medium/150% "Myriad Web", "Myriad Pro", "Lucida Grande", "Trebuchet MS", Tahoma, Helvetica, Arial,  sans-serif;
	background: #F8F8F8;
	color: #333;
}

strong {
    font-weight: bold;
    color: #E85833;
}

.docstring ul,
.docstring ul li {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

#header {
    background: #FFF;
    height: 108px;
}

#header div {
    position: relative;
    width: 780px;
    margin: 0 auto auto;
}

#footer {
    background: #EEE;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    padding: 1em;
    font-size: 0.7em;
    line-height: 120%;
    text-align: center;    
    margin: 5em 190px 0 0;
    clear: both;
}

#footer li {
    display: inline;
    padding: 0 0.5em;
    border-right: 1px solid #FFF;
    text-transform: uppercase;
}

#footer li a {
    font-weight: bold;
    white-space: nowrap;
}

#footer li.ematia {
    border: none;
}

#books {
    position: absolute;
    right: 0;
    top: 14px;
}

#apydia {
    position: absolute;
    left: 0;
    top: 52px;
}

#page {
    width: 780px;
    padding: 0em 0 3em;
    margin: 0 auto auto;
    position: relative;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    color: #5E80E6;
    padding: 0.5em 0 0.4em;
}

#page :link, #page :visited {
    color: #5E80E6;
}

#page :link:hover, #page :visited:hover {
    text-decoration: underline;
}

#menu {
    position: absolute;
    top: 24px;
    right: 0;
    text-align: right;
    font-size: 1.5em;
    line-height: 125%;
    width: 180px;
}

#menu ul {
    margin-bottom: 2em;
}

#menu li a {
    text-transform: uppercase;
}

#menu li.see a {
    color: #ADD5CF !important;
}

#menu li.get a {
    color: #9FC932 !important;
}

#menu li.learn a {
    color: #5E80E6 !important;
}

#menu li.discuss a {
    color: #E85833 !important;
}

ul.buttons li {
    display: inline;
    margin-right: 16px;
}

ul.buttons {
    margin-bottom: 16px;
}

.docstring h2 {
    font-size: 2em;
    line-height: 1em;
    letter-spacing: -0.05em;
}

.docstring h3 {
    font-size: 1.7em;
    color: #E85833;
    letter-spacing: -0.05em;
}

.docstring p,
.docstring ul {
    margin-bottom: 1em;
    margin-right: 2em;
}

.docstring ul li {
    padding-left: 1.5em;
    background: url("../images/bullet.gif") no-repeat 6px 7px;
}

#content table {
    margin-bottom: 1.5em;
}

#content td {
    border-color: #5E80E6;
}

#content th {
    background-color: #5E80E6;
    border-color: #F8F8F8;
}

* html .docstring ul li {
    zoom: 1;
}

/* Apydia */
#page {
    border: none;
    background: inherit;
}

#browser {
    position: relative;
    top: 140px;
    float: right;
    width: 180px;
    background: #FFF;
    border: 1px solid #EEE;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

#browser .browser-section {
    border: none;
}

#browser h2 {
    margin-top: 0;
    padding-top: 0.3em;
    color: #9FC932;
}

#browser li.active a {
    color: #E85833;
}

#browser li a:hover {
    color: #ADD5CF;
}

#content {
    margin: 0 190px 0 0;
    padding: 0;
}

#content .source {
    background: none;
}

#content h1 {
    margin: 0;
    padding: 0.5em 0 0;
}

#content pre {
    border: 1px solid #EEE;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

#content h2,
#content h3 {
    margin: 0;
    padding: 0;
}

#content .docstring h2,
#content .docstring h3 {
    margin: 0;
    padding: 0.5em 0;
}

#content .docstring h1 {
    font-size: 2em;
    line-height: 1em;
    letter-spacing: -0.05em;
}

#content .docstring h2,
#content .docstring h2 a {
    color: #E85833;
}

#content .docstring h2 {
    font-size: 1.5em;
}

#content .docstring h3 {
    font-size: 1.3em;    
}

#content .docstring h3,
#content .docstring h3 a {
    color: #E85833;
}

#content h2 {
    color: #9FC932;
}

