.source  { background: #ffffff; }
.source .c { color: #909090; font-style: italic } /* Comment */
.source .err { color: #800020; background-color: #FFFFFF; border: 1px solid #F00040 } /* Error */
.source .k { color: #5E80E6 } /* Keyword */
.source .n { color: #000000 } /* Name */
.source .o { color: #E85833 } /* Operator */
.source .p { color: #404040 } /* Punctuation */
.source .cm { color: #909090; font-style: italic } /* Comment.Multiline */
.source .cp { color: #909090; font-style: italic } /* Comment.Preproc */
.source .c1 { color: #909090; font-style: italic } /* Comment.Single */
.source .cs { color: #909090; font-style: italic } /* Comment.Special */
.source .kc { color: #5E80E6 } /* Keyword.Constant */
.source .kd { color: #5E80E6 } /* Keyword.Declaration */
.source .kp { color: #5E80E6 } /* Keyword.Pseudo */
.source .kr { color: #5E80E6 } /* Keyword.Reserved */
.source .kt { color: #5E80E6 } /* Keyword.Type */
.source .s { color: #404040; background-color: #F8F8F8 } /* Literal.String */
.source .na { color: #000000 } /* Name.Attribute */
.source .nb { color: #000000 } /* Name.Builtin */
.source .nc { color: #E85833 } /* Name.Class */
.source .no { color: #000000 } /* Name.Constant */
.source .nd { color: #000000 } /* Name.Decorator */
.source .ni { color: #000000 } /* Name.Entity */
.source .ne { color: #000000 } /* Name.Exception */
.source .nf { color: #E85833 } /* Name.Function */
.source .nl { color: #000000 } /* Name.Label */
.source .nn { color: #000000 } /* Name.Namespace */
.source .nx { color: #000000 } /* Name.Other */
.source .py { color: #000000 } /* Name.Property */
.source .nt { color: #000000 } /* Name.Tag */
.source .nv { color: #000000 } /* Name.Variable */
.source .ow { color: #E85833 } /* Operator.Word */
.source .sb { color: #404040; background-color: #F8F8F8 } /* Literal.String.Backtick */
.source .sc { color: #404040; background-color: #F8F8F8 } /* Literal.String.Char */
.source .sd { color: #404040; background-color: #F8F8F8 } /* Literal.String.Doc */
.source .s2 { color: #404040; background-color: #F8F8F8 } /* Literal.String.Double */
.source .se { color: #404040; background-color: #F8F8F8 } /* Literal.String.Escape */
.source .sh { color: #404040; background-color: #F8F8F8 } /* Literal.String.Heredoc */
.source .si { color: #404040; background-color: #F8F8F8 } /* Literal.String.Interpol */
.source .sx { color: #404040; background-color: #F8F8F8 } /* Literal.String.Other */
.source .sr { color: #404040; background-color: #F8F8F8 } /* Literal.String.Regex */
.source .s1 { color: #404040; background-color: #F8F8F8 } /* Literal.String.Single */
.source .ss { color: #404040; background-color: #F8F8F8 } /* Literal.String.Symbol */
.source .bp { color: #000000 } /* Name.Builtin.Pseudo */
.source .vc { color: #000000 } /* Name.Variable.Class */
.source .vg { color: #000000 } /* Name.Variable.Global */
.source .vi { color: #000000 } /* Name.Variable.Instance */